Repository json-bateman/watchma: changes, and which lefthook commands are due for each by the changed paths.
All: go-fmt, prettier

lefthook.yml:

# Lefthook configuration for Watchma
# Docs: https://github.com/evilmartians/lefthook

pre-commit:
  parallel: true
  commands:
    go-fmt:
      glob: "*.go"
      run: go fmt {staged_files}

    prettier:
      glob: "*.{ts,js,json}"
      run: npx prettier --write {staged_files}

pre-push:
  parallel: false  # Run sequentially for clear error messages
  commands:
    go-build:
      run: |
        echo "Building Go application..."
        go build -o tmp/watchma ./cmd/main.go
      fail_text: |
        Go build failed!
        Fix build errors before pushing.

    # Run quick smoke tests on feature branches
    smoke-tests:
      run: |
        echo "Running smoke tests (auth + rooms)..."
        npx playwright test auth.spec.ts rooms.spec.ts --workers=1
      exclude: "main"  # Don't run on main
      fail_text: |
        Smoke tests failed!
        Run 'npm test' locally to debug.
        Use 'git push --no-verify' to skip (not recommended).

    # Run full test suite when pushing to main
    full-tests:
      run: |
        echo "Running FULL test suite..."
        npx playwright test --workers=1
      only: "main"  # Only run when pushing to main
      fail_text: |
        Full test suite failed!
        Fix all test failures before pushing to main.
        Use 'git push --no-verify' to skip (not recommended).

hookerino
  lefthook.yml
  package-lock.json
  package.json
Due: prettier

test hooks
  lefthook.yml
Due: none

test hooka
  lefthook.yml
Due: none

thing
  lefthook.yml
  web/features/game/pages/draft.templ
Due: none

still setting up tests
  Dockerfile
  Taskfile.yml
  lefthook.yml
  playwright.config.ts
  public/styles.css
  tests/e2e/run-game.spec.ts
  web/features/game/pages/draft.templ
  web/input.css
Due: prettier

testing again
  lefthook.yml
Due: none

again
  lefthook.yml
Due: none

again!
  lefthook.yml
Due: none

fixed one bug, autoanimate working again, draft still buggy on movie selection
  lefthook.yml
  pkg/room/service.go
  playwright.config.ts
  tests/e2e/helpers/auth.ts
  web/features/game/handlers.go
  web/views/common/layout.templ
  web/views/common/movie_grid.templ
Due: go-fmt, prettier

fix draft problems, remove slow test, update other tests, fix draft bug due to slice pointer
  pkg/movie/movie.go
  pkg/movie/service.go
  pkg/room/debug.go
  pkg/room/room.go
  pkg/room/service.go
  public/styles.css
  tests/e2e/helpers/game.ts
  tests/e2e/run-game.spec.ts
  web/features/game/handlers.go
  web/features/game/pages/draft.templ
  web/features/rooms/pages/host.templ
Due: go-fmt, prettier

even more cleanup
  .gitguardian.yaml
  .github/workflows/playwright.yml
  README.md
  deploying-docker.md
  package.json
  tests/e2e/helpers/game.ts
Due: prettier

workflow stuff
  .github/workflows/playwright.yml
Due: none

need firefox and webkit for ci/cd
  .github/workflows/playwright.yml
Due: none

remove playwright from workflow, some tests need API key
  .github/workflows/build-test.yml
Due: none

update tests, add soup to nuts test
  playwright.config.ts
  tests/README.md
  tests/e2e/auth.spec.ts
  tests/e2e/helpers/game.ts
  tests/e2e/helpers/rooms.ts
  tests/e2e/rooms.spec.ts
  tests/e2e/run-game.spec.ts
  web/features/game/handlers.go
Due: go-fmt, prettier

add vote events table for event sourcing votes
  db/migrations/00004_create_vote_events_table.sql
  db/queries/vote_events.sql
  db/repository/vote_events_repo.go
  db/sqlcgen/models.go
  db/sqlcgen/querier.go
  db/sqlcgen/vote_events.sql.go
Due: go-fmt

missing StatementBegin
  db/migrations/00004_create_vote_events_table.sql
Due: none

remove db/repository boilerplate code, access db directly
  db/queries/users.sql
  db/repository/session_repo.go
  db/repository/user_repo.go
  db/repository/vote_events_repo.go
  db/sqlcgen/users.sql.go
  pkg/app/app.go
  pkg/auth/service.go
  pkg/context/user.go
  web/features/debug/pages/debug.templ
  web/views/common/layout.templ
Due: go-fmt

fix shuffle.templ styling to use movie grid
  web/features/index/pages/shuffle.templ
  web/views/common/movie_grid.templ
Due: none

create results tables, style results for safari
  db/migrations/00005_create_game_results_tables.sql
  db/queries/game_results.sql
  db/sqlcgen/game_results.sql.go
  db/sqlcgen/models.go
  db/sqlcgen/querier.go
  pkg/app/app.go
  pkg/room/service.go
  public/styles.css
  web/features/game/pages/results.templ
Due: go-fmt

start stats page for user
  README.md
  public/styles.css
  web/features/index/handlers.go
  web/features/index/pages/stats.templ
  web/features/index/routes.go
  web/router/router.go
  web/views/common/layout.templ
Due: go-fmt

display stats page and top 5 winners
  db/queries/game_results.sql
  db/queries/vote_events.sql
  db/sqlcgen/game_results.sql.go
  db/sqlcgen/querier.go
  db/sqlcgen/vote_events.sql.go
  pkg/app/app.go
  public/styles.css
  web/features/index/handlers.go
  web/features/index/pages/index.templ
  web/features/index/pages/stats.templ
  web/features/index/pages/top5.templ
  web/features/index/routes.go
  web/input.css
  web/router/router.go
  web/views/common/layout.templ
Due: go-fmt

add test.db to not pollute main watchma.db
  .gitignore
  pkg/app/app.go
  playwright.config.ts
  public/styles.css
Due: go-fmt, prettier

disable SSE buffering for nginx
  docker-compose.yml
  web/features/game/handlers.go
  web/router/router.go
Due: go-fmt

changed to re-establish SSE connection on each new page, need to fix announcement
  tests/e2e/helpers/rooms.ts
  tests/e2e/rooms.spec.ts
  web/features/game/handlers.go
  web/features/game/pages/announceResults.templ
  web/features/game/pages/draft.templ
  web/features/game/pages/lobby.templ
  web/features/game/pages/results.templ
  web/features/game/pages/voting.templ
  web/features/game/routes.go
  web/features/rooms/handlers.go
  web/features/rooms/pages/join.templ
Due: go-fmt, prettier

trying to get announce working
  pkg/room/service.go
  public/styles.css
  web/features/game/handlers.go
  web/features/game/pages/announceResults.templ
  web/features/game/pages/lobby.templ
  web/features/game/routes.go
Due: go-fmt

stream results to each room, from one OPEN_AI call from the host
  pkg/movie/service.go
  pkg/room/service.go
  web/features/game/handlers.go
  web/features/game/pages/announceResults.templ
  web/features/game/routes.go
Due: go-fmt

leave button to clean up rooms
  pkg/room/debug.go
  tests/e2e/rooms.spec.ts
  web/features/debug/pages/debug.templ
  web/features/game/handlers.go
  web/features/game/pages/lobby.templ
  web/features/game/pages/results.templ
  web/features/game/routes.go
Due: go-fmt, prettier

fix minor problem with draft, tests pass
  public/styles.css
  tests/e2e/run-game.spec.ts
  web/features/game/handlers.go
Due: go-fmt, prettier

add a docker build script
  Taskfile.yml
  build-and-push.sh
Due: none

change leave logic to surface warning, nicer readme and .env.example
  .env.example
  .gitignore
  README.md
  tests/e2e/rooms.spec.ts
  web/features/game/handlers.go
  web/features/game/pages/draft.templ
  web/features/game/pages/lobby.templ
  web/features/game/pages/results.templ
  web/features/game/pages/voting.templ
  web/views/common/layout.templ
Due: go-fmt, prettier

🚄unraid community
  .github/FUNDING.yml
  .gitignore
  Dockerfile
  README.md
  build-and-push.sh
  pkg/app/app.go
  watchma.xml
Due: go-fmt

better error handling, add cURL to container, some styling
  Dockerfile
  pkg/jellyfin/provider.go
  pkg/openai/provider.go
  web/features/game/pages/lobby.templ
  web/features/rooms/handlers.go
  web/features/rooms/pages/host.templ
  web/views/common/layout.templ
Due: go-fmt

change persistant docker volume to /data, leaving a room gives a warning popup
  Dockerfile
  docker-compose.yml
  public/styles.css
  watchma.xml
  web/features/game/handlers.go
  web/features/game/pages/draft.templ
  web/features/game/pages/lobby.templ
  web/features/game/pages/results.templ
  web/features/game/pages/voting.templ
Due: go-fmt

add dockerhub readme
  DOCKER_HUB_README.md
Due: none

leaveRoom redirects to home, 401 page, better error handling
  DOCKER_HUB_README.md
  pkg/app/settings.go
  pkg/jellyfin/provider.go
  public/styles.css
  web/features/game/handlers.go
  web/features/index/handlers.go
  web/views/http_error/401.templ
Due: go-fmt

remove redirect
  web/features/game/handlers.go
Due: go-fmt

better disable logic, leave room buttons, change back to all SSE Patch Elements for each game state
  README.md
  public/styles.css
  web/features/game/handlers.go
  web/features/game/pages/announceResults.templ
  web/features/game/pages/draft.templ
  web/features/game/pages/lobby.templ
  web/features/game/pages/results.templ
  web/features/game/pages/voting.templ
  web/features/rooms/pages/join.templ
  web/views/common/movie_grid.templ
Due: go-fmt

simplify results page, add version and build info to logs and footer
  Dockerfile
  build-and-push.sh
  pkg/app/app.go
  pkg/buildinfo/buildinfo.go
  pkg/room/game.go
  web/features/game/handlers.go
  web/features/game/pages/results.templ
  web/features/game/pages/voting.templ
  web/views/common/layout.templ
Due: go-fmt

fix tests
  public/styles.css
  tests/e2e/run-game.spec.ts
Due: prettier
